<a href="https://colab.research.google.com/github/manju1983/gh-repo-clone-joelgrus-data-science-from-scratch/blob/main/Stocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
stocks = pd.read_csv('https://raw.githubusercontent.com/joelgrus/data-science-from-scratch/master/stocks.csv')

In [5]:
stocks.head()

  Symbol        Date      Open  ...     Close  Adj Close     Volume
0   AAPL  1980-12-12  0.513393  ...  0.513393   0.023106  117258400
1   AAPL  1980-12-15  0.488839  ...  0.486607   0.021900   43971200
2   AAPL  1980-12-16  0.453125  ...  0.450893   0.020293   26432000
3   AAPL  1980-12-17  0.462054  ...  0.462054   0.020795   21610400
4   AAPL  1980-12-18  0.475446  ...  0.475446   0.021398   18362400

[5 rows x 8 columns]